#Body {
    display: grid;
    grid-template-areas: "DaysRows" "RowWeek1" "RowWeek2" "RowWeek3" "RowWeek4" "RowWeek5" "RowWeek6";
    height: 100%;
}

#DaysRow {
    grid-area: "DaysRows";
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #262D33;
    font-weight: bold;
}

.RowWeek {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ColumnDays {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
}

#RowWeek1 {
    grid-area: RowWeek1;
}

#RowWeek2 {
    grid-area: RowWeek2;
}

#RowWeek3 {
    grid-area: RowWeek3;
}

#RowWeek4 {
    grid-area: RowWeek4;
}

#RowWeek5 {
    grid-area: RowWeek5;
}

#RowWeek6 {
    grid-area: RowWeek6;
}

.OutOfMonth {
    color: #c4c4c4;
}

.SelectedDay {
    border: #c4c4c4 solid 1px;
    border-radius: 5px;
    font-weight: bold;
}

.CurrentDay {
    background-color: #f7f7f8;
    color: #059541;
}